<div class="container-fluid mt-2">
  <div class="row ">
    <div class="col ">
      <div class="card d-flex flex-row justify-content-between p-2 bg-header">
        <div class="col-2 cursor-pointer p-3 rounded" (click)="irPagina('dashboard')">Inicio</div>
        <div class="col-2 cursor-pointer p-3 rounded" (click)="irPagina('personas')">Personas</div>
        <div class="col-2 cursor-pointer p-3 rounded" (click)="irPagina('vehiculos')">Vehiculos</div>
        <div class="col-2 cursor-pointer p-3 rounded" (click)="irPagina('asignaciones')">Asignaciones</div>
        <div class="col-2 cursor-pointer p-3 rounded" (click)="cerrarSesion()">Cerrar sesion</div>
      </div>
    </div>
  </div>
</div>
