<!-- <div>
  <app-header></app-header>
</div> -->
<div class="container-fluid mt-2">
  <div class="d-flex flex-row card p-5">
    <div class="card bg-header cursor-pointer p-3 rounded ms-3" (click)="irPagina('dashboard')">Home</div>
    <div class="card bg-header cursor-pointer p-3 rounded ms-3" (click)="irPagina('vehiculos')">Vehiculos</div>
    <div class="card bg-header cursor-pointer p-3 rounded ms-3" (click)="irPagina('personas')">Personas</div>
    <div class="card bg-header cursor-pointer p-3 rounded ms-3" (click)="irPagina('asignaciones')">Asignaciones</div>
  </div>
</div>
